/* .container{
    display:flex
} */


.top-container{
    background-color: red;
    height: 100%;
}

.middle-container{
    background-color: orange;
}

.bottom-container {
    background-color: yellow;
}

body{
    margin: 0px;
}

.top{
    display:flex;
    height: 30vh;
    background-color: red;
    align-items: center;
    justify-content: center;
}
.top-icons{
    width: 90%;
    background-color: yellow;
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
}
.top-icons-item{
    width: 150px;
    cursor: pointer;
}


/* starting middle component */

.middle{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
    /* flex-direction: column; */
    
}

.left {
    width: 100%;
    flex: 4;
}

.right {
    flex: 1;
    border: black solid 1px;
    margin-right: 10px;
}

.item-count{
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 50px;
    margin: 30px 0;
    display: none;
}

.number-keypad{
}

.number-line{
    display: flex;
    text-align: center;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.keypad{
    font-size: 50px;
    margin: 40px;
    cursor: pointer;
    border: black solid 2px;
    width: 100px;
    height: 100px;
    text-align: center;
    align-items: center;

}
